# --- General ---
.DS_Store
Thumbs.db
*.log
*.tmp

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/

# --- PlatformIO / Arduino ---
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.hex
*.bin

# --- ROS / ROS2 ---
build/
install/
log/
devel/

# --- CAD ---
*.SLDPRT.lck
*.bak
~$*

# --- Editors ---
.vscode/
.idea/
